<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <!-- <h2>Soufiane FADIL</h2> -->
            <!-- <h4>example@email.com</h4> -->
        </div>
        <img src="./../../../../assets/img/ESCUDO.png" alt="COLBOL" routerLink="/">
        <h6>COLBOL</h6>
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Academico</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>home</mat-icon>
        Inicio</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/nosotros">
        <mat-icon>account_balance</mat-icon>
        Nosotros</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/gestion">
        <mat-icon>book</mat-icon>
        Gestion Academico</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/actividad">
        <mat-icon>event_note</mat-icon>
        Actividades</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/galeria">
        <mat-icon>perm_media</mat-icon>
        Galeria</a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Encuentranos</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacto">
        <mat-icon>contact_phone</mat-icon>
        Contactos
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/noticias">
        <mat-icon>import_contacts</mat-icon>
        Noticias
    </a>

</mat-nav-list>

<br>

<a href="https://www.facebook.com/" class="btn btn-block btn-social btn-facebook #3B5998">
    <span class="fa fa-facebook"></span> Visitenos en Facebook
  </a>