p{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14pt;
    color: black;
    font-weight: 900;
}

.card-texts{
    text-align: justify ;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14pt;
    // list-style-image: url(./../../../assets/img/ESCUDO.png);
    // background-image: url(./../../../assets/img/logo25años.png);
    // div { background-image: url(./../../../assets/img/ESCUDO.png); }
}

.card{
    background-image: url(./../../../assets/img/logo25años.png);
    background-repeat: no-repeat;
    background-size: 1000px;
    background-position: center;
}

.card-text{
    text-align: left;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14pt;
}

.card-titles{
    text-align: center ;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18pt;
    color: black;
}

