<p>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Actividades</button>
</p>
  <div class="row">
    <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample1">
        <div class="card card-body">
            <h1>Defile del Colegio 2017</h1>
            <div class="carousel-item active">
                <img src="./../../../assets/img/actividad/desfile.jpg" class="d-block w-80" alt="...">
            </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample2">
        <div class="card card-body">
            <h1>DIA DEL PADRE 2017</h1>
            <div class="carousel-item active">
                <img class="acti"  src="./../../../assets/img/actividad/diadelpardre.jpg" class="d-block w-200" alt="...">
            </div>        
          </div>
      </div>
    </div>
  </div>
