<div class="card">
    <div class="card-body">
        <div class="row row-cols-1 row-cols-md-3">
            <div class="col mb-4">
              <div class="card h-100">
                <img src="./../../../assets/img/reglamento.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Reglamento Interno Colegio Bolivia</h5>
                  <p>En el siguiente link podras ver el Reglamento Interno de la U.E. Privada Bolivia</p>
                  <a href="https://docs.google.com/document/d/10ypN6oyt0PQO87ZRZCdgXBP4g90Lhy_vcZGblE_4Czg/edit?usp=sharing" class="btn btn-success btn-lg btn-block">Link</a>
                </div>
              </div>
            </div>
            <div class="col mb-4">
              <div class="card h-100">
                <img src="./../../../assets/img/listas.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Nominas de Profesores - Primaria</h5>
                  <p>Dar un clik en el siguiente link para ver la Nomina de Profesores nivel Primario</p>
                  <a href="https://drive.google.com/file/d/10KS0YCy1IGq7pBu4bbCVIMrvQRvV5jAZ/view?usp=sharing" class="btn btn-success btn-lg btn-block">Link</a>
                </div>
              </div>
            </div>
            <div class="col mb-4">
              <div class="card h-100">
                <img src="./../../../assets/img/lista.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Nominas de Profesores - Secundaria</h5>
                  <p>Dar un clik en el siguiente link para ver la Nomina de Profesores nivel Secundario</p>
                  <a href="https://drive.google.com/file/d/19B2QsgQ7D2SYE8_VP_XTJoaxBJtdCVzI/view?usp=sharing" class="btn btn-success btn-lg btn-block">Ver</a>
                  <a href="./../../../assets/pdf/02 NOMINA DEL PERSONAL DOCENTE TURNO MAÑANA.pdf" class="btn btn-success btn-lg btn-block">Descarga</a>
                </div>
              </div>
            </div>
            <div class="col mb-4">
              <div class="card h-100">
                <img src="./../../../assets/img/calendar.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Calendario Academico - Primaria & Secundaria</h5>
                  <p>Dar un clik en el siguiente link para ver el Calendario Nivel Primario y Secundario</p>
                  <a href="https://drive.google.com/file/d/1-w94780wyyEQf8uNDhiQohy9bihu1WjZ/view?usp=sharing" class="btn btn-success btn-lg btn-block">Link</a>
                </div>
              </div>
            </div>
            <div class="col mb-4">
                <div class="card h-100">
                  <img src="./../../../assets/img/pergamino.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Himno a la Unidad Educativa Privada BOLIVIA</h5>
                    <p>Dar un clik en el siguiente link para ver el Himno del Colegio Bolivia</p>
                    <a href="https://drive.google.com/file/d/1lBIB0dr0CVUethuiQbOvaN3GOMRD_115/view?usp=sharing" class="btn btn-success btn-lg btn-block">Link</a>
                  </div>
                </div>
              </div>
              <div class="col mb-4">
                <div class="card h-100">
                  <img src="./../../../assets/img/inscripcion.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Requisitos para la Inscripcion al Colegio</h5>
                    <p>Dar un clik en el siguiente link para ver el los requisitos de la gestion</p>
                    <a href="https://drive.google.com/file/d/1rFjRnL1GpMsF6e3k0kz2xJZUBit9mRS2/view?usp=sharing" class="btn btn-success btn-lg btn-block">Link</a>
                  </div>
                </div>
              </div>
          </div>
    </div>
</div>